.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #000;
    padding: 16px 8px;
}

.cart:hover {
    cursor: pointer;
}

header {
    color: #fff;
    font-size: 32px;
}

button {
    border: none;
}

.items {
    color: #fff;
    background: #000;
}